#app {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin-top: 32px;
    width: 100%;
    max-width: 550px;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    color: #E5E4FA;
  }

  h2 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    color: #946BEC;
  }

  span {
    color: #9594AA;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 0;
    margin: 8px 0 0 0;
  }
}

.error_details {
  margin-top: 16px;
  font-weight: 500;
  font-size: 15px;
  line-height: 16px;
  color: white;

  display: flex;
  align-items: center;
  gap: 11px;
  justify-content: center;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  80% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
  }
}

.error_image {
  position: relative;
  margin-top: -80px !important;
  opacity: 0;
  transform: scale(0);
  animation: appear 1s ease-out forwards;
}

.upp {
  margin-top: -60px !important;
}

.buttons_wrapper {
  display: flex;
  align-items: center;
  gap: 12px;

  button {
    width: 274px;
  }
}