#app {
  max-width: 1280px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  button {
    margin-top: 32px;
    width: 100%;
    max-width: 550px;
  }

  h1 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    color: #E5E4FA;
  }

  h2 {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 42.19px;
    color: #946BEC;
  }

  span {
    color: #9594AA;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    padding: 0;
    margin: 8px 0 0 0;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
